@font-face {
    font-family: 'GoogleSansCode';
    src: url('/fonts/GoogleSansCode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
    --font-sans: "GoogleSansCode", "Inter", "PingFang SC", "Microsoft YaHei", ui-sans-serif;
    --color-primay: #c7000b;
}